:root {
	--beige: #f1e3c4;
	--beige-transparent: #f1e3c4d0;
	--blue-gradient: linear-gradient(to top right, #122f5a, #1b68c5);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", serif;
	background: darkslateblue;
	color: var(--beige);
}

p {
	font-size: 18px;
}

h2 {
	font-weight: 400;
	font-family: "Playwrite NO";
	text-align: center;
	text-shadow: var(--beige) 0 0 10px;
}

h3 {
	font-family: "Playwrite NO";
	font-weight: 400;
	font-size: 24px;
	text-shadow: var(--beige) 0 0 10px;
	text-shadow: var(--beige-transparent) 0 0 10px;
}




/* -- -- nav -- -- */

nav {
	margin-bottom: 80px;
}




/* -- -- hola -- -- */

.hola {
	margin: auto;
	width: 767px;
	padding: 0 144px 30px 144px;
	text-align: center;
	background: var(--blue-gradient);
	border: 8px solid var(--beige);
	border-radius: 60px;
	box-shadow: var(--beige) 0 0 30px;
}

.hola-padding {
	padding-top: 102px;
}

.foto-perfil {
	background: var(--beige);
	width: fit-content;
	padding: 7px;
	margin: -110px auto 17px auto;
	border-radius: 50%;
	box-shadow: var(--beige) 0 0 30px;
}
.foto-perfil img {
	display: block;
	border-radius: 50%;
}

h1 {
	font-family: "Playwrite NO";
	font-size: 32px;
	font-weight: 400;
}

.hola h2 {
	font-family: "Poppins";
	font-size: 22px;
	text-shadow: none;
}

.hola p {
	margin: 15px 0 30px 0;
	text-align: left;
	position: relative;
	left: 10px;
}

.hola ul {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 15px;
}




/* -- -- -- Proyectos -- -- -- */
/* Sigue ajustar los h2 que queden bien los text-shadow */

.proyectos {
	margin: 200px auto;
}

.proyectos h2 {
	font-size: 32px;
	margin-bottom: 50px;
}

.proyecto {
	width: 860px;
	margin: 0 auto 70px auto;
	display: flex;
	flex-flow: row-reverse;
	justify-content: space-between;
}

.proyecto .detalles {
	width: 500px;
}

.proyecto h3 {
	font-size: 28px;
	margin-bottom: 10px;
	margin-left: 28px;
}

.proyecto .padding-left {
	padding-left: 30px;
}

.proyecto ul {
	list-style: none;
	display: flex;
	gap: 10px;
	margin-left: -7px;
}

.proyecto li {
	background: var(--blue-gradient);
	padding: 5px 15px;
	border-radius: 18px;
}

.proyecto .enlaces a {
	font-size: 22px;
	display: inline-block;
	color: var(--beige);
	text-decoration: none;
	border: 1px solid var(--beige);
	padding: 5px 20px;
	border-radius: 22px;
	transition: all ease .3s;
}

.proyecto .enlaces a:hover {
	background: var(--beige);
	color: #433126;
}

.proyecto .preview img {
	border-radius: 15px;
	border: 5px solid var(--beige);
	box-shadow: var(--beige) 0 0 30px;
	vertical-align: top;
	margin-top: 68px;
}

.proyecto .tecnologias {
	margin: 15px 0 15px -4px;
}
